<h1><%= @project.name.capitalize  %> Diary</h1>
<h2><%=t '.title', :default => t('helpers.titles.new', :model => Entry,
                               :default => "Edit Enrty") %></h2>
<%= render :partial => 'form' %>


<% if @entry.errors.any? -%>
  <%= @entry.errors.first.inspect %>
<% end -%>
